adaa
dump.rdb
venv
*.pyc
staticfiles
.env
db.sqlite3
media
.idea/*
settings_local.py
logs/*
payload.txt
jmeter.log
test.json
*.pkl
files/tmp/*
files/seller_orders
.DS_Store
sellplus-service-account-google.json
files/install_*
sellplus.egg-info/*
logs.json
celerybeat.pid
Untitled spreadsheet - Sheet2.csv
mydukaan-service-account-google.json
files/dumps/*
files/master/tmp/*
tmp_images/*
*.log
